.result-pair {
  margin: 2rem;
  text-align: center;
}

.result-pair__images {
  display: flex;
}

.result-pair__image {
  flex-grow: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}

.result-pair div p {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.result-pair__btn-ok {
  margin-right: 0.5rem;
}
