.result-pair {
  margin: 1rem;
  text-align: center;

  .image-pair {
    display: flex;
  }

  .image {
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
  }

  .info {
    p {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .btn-ok {
    margin-right: 0.5rem;
  }
}
